<!DOCTYPE html>
<html lang="en">
<!--<< Header Area >>-->
<!-- Mirrored from gramentheme.com/html/infotek/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 Jun 2024 13:42:54 GMT -->

<body>
    <!--<< Breadcrumb Section Start >>-->
    <div class="breadcrumb-wrapper bg-cover" style="background-image: url('@Url.Content("~/Content/theme/assets/img/breadcrumb.jpg")');">
        <div class="border-shape">
        <img src="@Url.Content("~/Content/theme/assets/img/element.png")" alt="shape-img">
    </div>
        <div class="line-shape">
            <img src="@Url.Content("~/Content/theme/assets/img/line-element.png")" alt="shape-img">
        </div>
        <div class="container">
            <div class="page-heading">
                <h1 class="wow fadeInUp" data-wow-delay=".3s">Forma de Pago</h1>
                <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                    <li>
                        <a href="index.html">
                            Home
                        </a>
                    </li>
                    <li>
                        <i class="fas fa-chevron-right"></i>
                    </li>
                    <li>
                        Forma de Pago
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--<< planes de pago >>-->
    <section class="pricing-section section-bg fix section-padding">
        <div class="left-shape">
            <img src="@Url.Content("~/Content/theme/assets/img/pricing-left-shape.png")" alt="shape-img">
        </div>
        <div class="right-shape">
            <img src="@Url.Content("~/Content/theme/assets/img/pricing-right-shape.png")" alt="shape-img">
        </div>
        <div class="container">
            <div class="pricing-wrapper">
                <div class="section-title-area">
                    <div class="section-title">
                        <span class="wow fadeInUp">PLAN DE PRECIOS FLEXIBLE</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".3s">
                            Te ofrecemos la mejor <br> Tarifa para ti
                        </h2>
                    </div>
                    <ul class="nav" role="tablist">
                        <li class="nav-item wow fadeInUp" data-wow-delay=".3s" role="presentation">
                            <a href="#monthly" data-bs-toggle="tab" class="nav-link active" aria-selected="true" role="tab">
                                Anualmente
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div id="monthly" class="tab-pane fade show active" role="tabpanel">
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                                <div class="pricing-items">
                                    <div class="tag">
                                        <h6>WEB ECONÓMICA</h6>
                                    </div>
                                    <div class="pricing-header">
                                        <h2>S/ 500.00</h2>
                                        <span>Único Pago</span>
                                        <p>
                                            Diseño 100% Administrable
                                        </p>
                                    </div>
                                    <ul class="pricing-list">
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Redes Sociales
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Adaptable a dispositivos móviles
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Diseño Web al gusto del Cliente
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Galería Multimedia
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Slider de Fotos
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Mapa de Ubicación
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Formulario de contacto
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Soporte Hosting
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Soporte Web
                                        </li>
                                    </ul>
                                    <div class="pricing-button">
                                        <a href="contact.html" class="pricing-btn mt-4">
                                            Elegir Plan
                                            <i class="fa-solid fa-arrow-right-long"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                                <div class="pricing-items active">
                                    <div class="tag">
                                        <h6>WEB EMPRESA</h6>
                                    </div>
                                    <div class="pricing-header">
                                        <h2>S/800</h2>
                                        <span>Único Pago</span>
                                        <p>
                                            Diseño 100% Administrable
                                        </p>
                                    </div>
                                    <ul class="pricing-list">
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Diseño web al gusto del Cliente
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Adaptable a dispositivos móviles
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Galería Multimedia
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Slider de Fotos
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Redes sociales
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Hasta 8 páginas Interiores
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Blog de Noticias
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Soporte Hosting
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Soporte Web
                                        </li>
                                    </ul>
                                    <div class="pricing-button">
                                        <a href="contact.html" class="pricing-btn mt-4">
                                            Elegir Plan
                                            <i class="fa-solid fa-arrow-right-long"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                                <div class="pricing-items">
                                    <div class="tag">
                                        <h6>WEB CORPORATIVO</h6>
                                    </div>
                                    <div class="pricing-header">
                                        <h2>S/1000</h2>
                                        <span>Único Pago</span>
                                        <p>
                                            Diseño 100% Administrable
                                        </p>
                                    </div>
                                    <ul class="pricing-list">
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Diseño al gusto del Cliente
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Adaptable a dispositivos móviles
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Galeria Multimedia
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Slider de Fotos
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Redes Sociales
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Hata 12 Páginas Interiores
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Blog de Noticias
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Optimización para SEO
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Soporte Hosting
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Soporte Web
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check"></i>
                                            Manejo web
                                        </li>
                                    </ul>
                                    <div class="pricing-button">
                                        <a href="contact.html" class="pricing-btn mt-4">
                                            Elegir Plan
                                            <i class="fa-solid fa-arrow-right-long"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                            <div class="pricing-items">
                                <div class="tag">
                                    <h6>TIENDA VIRTUAL</h6>
                                </div>
                                <div class="pricing-header">
                                    <h2>S/1,400.00</h2>
                                    <span>Único Pago</span>
                                    <p>
                                        Diseño 100% Administrable
                                    </p>
                                </div>
                                <ul class="pricing-list">
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        Diseño web al gusto del cliente
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        Adaptable a dispositivos móviles
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        Galeria Multimedia
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        Slider de fotos
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        Redes Sociales
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        Hasta 12 páginas Interiores
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        Blog de Noticias
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        Sección Portafolio de Clientes
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        Pasarela de pagos
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        Integración con SEO para posicionamiento chat online
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        Carrito de Compras
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        Catálogo de Productos
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        Pasarela de Pagos Visa/Mastercard
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        Soporte Hosting
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        Soporte web
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-check"></i>
                                        Manejo Web
                                    </li>
                                </ul>
                                <div class="pricing-button">
                                    <a href="contact.html" class="pricing-btn mt-4">
                                        Elegir Plan
                                        <i class="fa-solid fa-arrow-right-long"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

<!-- Mirrored from gramentheme.com/html/infotek/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 Jun 2024 13:42:55 GMT -->
</html>